<style>
    .h:hover{
       color: #17689F;
    }
    .i:hover{
       width: 10px;
    }
    p{
        color: #777676;
    }
</style>
<div style="width: 1088px; background-color: white; margin-left: 139px; padding-top: 45px;padding-bottom: 35px; padding-right: 24px;
border-radius: 6px 6px 0px 0px;">
<div class="row">
    <div class="col-md-3 text-center">
        <h5 style="color: #17689F;font-weight: bold;">Stay Conneced</h5>
        <input type="email" name="" id="" placeholder="Enter email ID"
        style="width: 170px; border-width: 1px; border-color: rgb(235, 233, 233);height: 34px; border-radius: 17px;">
        <a href="#"><img src="../../assets/Stay Connected icon.png" alt=""></a><br><br>
        <a href=""><img  class="i" src="../../assets/facebook.png" alt="" style="margin-right: 15px;"></a>
        <a href=""><img  class="i" src="../../assets/google-plus.png" alt="" style="margin-right: 15px;"></a>
        <a href=""><img  class="i" src="../../assets/linkedin.png" alt="" style="margin-right: 15px;"></a>
        <a href=""><img  class="i" src="../../assets/twitter.png" alt="" style="margin-right: 15px;"></a>
    </div>
    <div class="col text-center">
        <h5 style="color: #17689F; font-weight: bold;">Quick</h5>
        <a href="" style=" text-decoration: none;"><p class="h" style="height: 12px;">Home</p></a>
        <a href="" style=" text-decoration: none;"><p class="h" style="height: 12px;">About us</p></a>
        <a href="" style=" text-decoration: none;"><p class="h" style="height: 12px;">Services</p></a>
        <a href="" style=" text-decoration: none;"><p class="h" style="height: 12px;">Analytics</p></a>
        <a href="" style=" text-decoration: none;"><p class="h" class="h">Contact us</p></a>
    </div>
    <div class="col">
        <h5 style="color: #17689F; font-weight: bold;">Services</h5>
        <a href="" style=" text-decoration: none;"><p class="h" style="height: 12px;">IT Services</p></a>
        <a href="" style=" text-decoration: none;"><p class="h" style="height: 12px;">Support</p></a>
        <a href="" style=" text-decoration: none;"><p class="h" style="height: 12px;">Workforce Solutions</p></a>
    </div>
    <div class="col">
        <h5 style="color: #17689F; font-weight: bold;">Analytics</h5>
        <a href="" style=" text-decoration: none;"><p class="h" style="height: 12px;">Big Data / Cloud</p></a>
        <a href="" style=" text-decoration: none;"><p class="h" style="height: 12px;">SAP BW, SAP BPC</p></a>
        <a href="" style=" text-decoration: none;"><p class="h" style="height: 12px;">S/4HANA, HANA</p></a>
        <a href="" style=" text-decoration: none;"><p class="h" style="height: 12px;">SAP Business Objects</p></a>
    </div>
    <div class="col-md-3">
        <h5 style="color: #17689F; font-weight: bold;">Contact us</h5>
        
        <p style="height: 12px;"><i class="fa fa-phone" style="color: #17689F;"></i> 312.459.3636</p>
        <p style="height: 12px;"><i class="fa fa-envelope" style="color: #17689F;"></i> info@hanasoftinc.com</p>
        <p style="height: 12px;"><i class="fa fa-map-marker" style="color: #17689F;"></i> 1755 Park Street, Suite 200 Naperville IL 60563</p>
    </div>
</div>
</div>
<div style="width: 1088px; background-color: rgb(232, 228, 228); margin-left: 139px;height: 25px;">
    <p style="font-size: 10px; margin-left: 46px;"> Copyright © HANASOFT Inc. All Rights Reserved <span style="margin-left: 602px;">Privacy Policy Terms of Use</span></p>

</div>


<!--
<div class="w3-row" style="width: 1088px;">
    
    <div class="w3-col m2" style="padding-top: 20px; padding-left: 20px; border-color: #17689F;border-radius: 10px;">
        <h5 style="color: #17689F;">Stay Conneced</h5>
        <input type="email" name="" id="" placeholder="Enter email ID"
        style="width: 170px;">
        <img src="../../assets/Stay Connected icon.png" alt=""><br><br>
        <img src="../../assets/facebook.png" alt="" style="margin-right: 15px;">
        <img src="../../assets/google-plus.png" alt="" style="margin-right: 15px;">
        <img src="../../assets/linkedin.png" alt="" style="margin-right: 15px;">
        <img src="../../assets/twitter.png" alt="" style="margin-right: 15px;">
    </div>
    <div class="w3-col m2" style="padding-top: 20px; text-align: center;">
        <h5 style="color: #17689F;">Quick</h5>
        <p style="height: 12px;">Home</p>
        <p style="height: 12px;">About us</p>
        <p style="height: 12px;">Services</p>
        <p style="height: 12px;">Analytics</p>
        <p>Contact us</p>
    </div>
    <div class="w3-col m2" style="padding-top: 20px;">
        <h5 style="color: #17689F;">Services</h5>
        <p style="height: 12px;">IT Services</p>
        <p style="height: 12px;">Support</p>
        <p style="height: 12px;">Workforce Solutions</p>
    </div>
    <div class="w3-col m2" style="padding-top: 20px;">
        <h5 style="color: #17689F;">Analytics</h5>
        <p style="height: 12px;">Big Data / Cloud</p>
        <p style="height: 12px;">SAP BW, SAP BPC</p>
        <p style="height: 12px;">S/4HANA, HANA</p>
        <p style="height: 12px;">SAP Business Objects</p>
    </div>
    <div class="w3-col m2" style="padding-top: 20px;">
        <h5 style="color: #17689F;">Contact us</h5>
        <p style="height: 12px;">312.459.3636</p>
        <p style="height: 12px;">info@hanasoftinc.com</p>
        <p style="height: 12px;">1755 Park Street, Suite 200 Naperville IL 60563</p>
    </div>
    <div class="w3-col m1" style="background-color: #17689F;height: 254px;">

    </div>
   
</div>
<div class="w3-col" style="background-color: lightgray;">
    <div class="w3-col m1" style="background-color: #17689F;height: 39px;">
        <h1></h1>
    </div>
    <div class="w3-col m6" style="padding-left: 20px;">
        <h6>Copyright © HANASOFT Inc. All Rights Reserved</h6>
    </div>
    <div class="w3-col m4">
        <h6>Privacy Policy Terms of Use</h6>
    </div>
    <div class="w3-col m1" style="background-color: #17689F;height: 39px;">
        <h1></h1>
    </div>
</div>-->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">