<!--place in app.component.html-->

<nav class="navbar navbar-expand-lg navMain" style="position: absolute;">
  <a class="navbar-brand navA" href="#"><img class="hana navImg" src="../assets/Hanasoft Logo.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" 
  aria-controls="navbarNavAltMarkup" aria-expanded="false" 
  aria-label="Toggle navigation">
    <span><img src="../assets/clipart1101213.png" alt="" style="width:30px; height:30px"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ">
       <a class="navAA" href="#"><img class="hana" src="../../assets/Home - enable.png" alt=""></a>
        
      <a class="nav-item nav-link navAAA" href="#">About us</a>
      <!--<a class="nav-item nav-link" href="#" style="color: white;">Services</a>-->
      <select class=" navSelect" name="" id="" >
          <option value="" >Services</option>
      </select>
      <!--<a class="nav-item nav-link" href="#" style="color: white;">Analytics</a>-->
      <select class="navSelect" name="" id="" >
          <option value="">Analytics</option>
      </select>
      <a [routerLink]="['/contact']" class="nav-item nav-link navContact" href="">Contact us</a>
      <button class="btn btn hana navButton">
         <ul>
             <li class="navOpacity">Current openings</li>
         </ul>  
      </button>
    </div>
  </div>
</nav>
<div>
  <img class=" bg-transparent landingImg" src="../../assets/Landing image.png" alt="">
  <div class="landingMain">
      <h3 class="landingh3">Welcome To</h3>
      <h3 class="landingh32">HANASOFT</h3>
      <p class="landingp text-center">
        HANASOFT Solutions is a fast growing technology, IT consulting services and Innovation company focused on leveraging technology and innovations to drive business value.</p>
        <p class="landingp2"></p> 
        <p class="landingp3"></p> 
   
        
    </div>
</div>
<div class="w3-row" style="background-color: black; height: 1081px;">
  <div class="w3-col m6" style="margin-top: 100px;" >
    
      <h2 class="whytochoose">Why To Choose</h2>
      <h2 class="Hanasoft">HANASOFT</h2>
      <p class="centerP">HANASOFT Solutions is a fast growing technology, IT consulting services and Innovation company focused on leveraging technology and innovations to drive business value.</p>
      <p class="centerP">We are powered by a talented IT and consulting professionals in S/4HANA, HANA, SAP Enterprise, BW on HANA, EDW, Big Data, Financials, Customer Relationship Management, Supply Chain Management, Human Resources and Web development amongst other capabilities.</p>
      <img src="../../assets/about us.png" alt="" class="centerImg">
  </div>
  <div class="w3-col m6 backcolor">
      <img class="whytoc" src="../../assets/Why to choose hanasoft image.png" alt="">
      <h3 class="aboutColorh3" style="font-weight: bolder;">About us</h3>
      <p class="aboutColor">HANASOFT Solutions is a fast growing technology, IT consulting services and Innovation.</p>
      <p class="aboutColor">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      <!--<button style="background-color: #001764; color: white; border-radius: 30%;
           border-color: #17689F;">Know more</button>-->
      <button class="btn hana " 
      style="background-color:#050d26;color: white ; border-color: #17689F; border-radius: 30px;">Know more</button>
  </div>
</div>

<div class="w3-card cardS"  >
  <h6 class="cardsh6">Whatever your reason for seeking business consulting & advice?</h6>
  <h5 class="cardsh5">You’ve come to the right place...</h5>
</div>
<div class="w3-row">
  <div class="w3-col m6">
      <h6></h6>
  </div>
  <div class="w3-col m6">
      <h3 class="ourService" style="color: #17689F; font-size: 32px; font-weight: bolder; opacity: 100%;" >Our Service</h3>
      <p style="color: #333333; opacity: 100%;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
  </div>
</div>

<div class="w3-row">
  <div class="w3-col m1">
      <h1></h1>
  </div>
  <div class="w3-col m3 itPadd">
      <h3 class="itService" style="color: #17689F;font-weight: bold; opacity: 100%;">IT Services</h3>
     <p style="color: #333333; opacity: 100%;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
  </div>
 
  <div class="w3-col m4">
      <img class="im" src="../../assets/Our Serivces.png" alt="">
      <div class="support">
          <h4 style="font-weight: bold;">Support</h4>
          <h6 class="supporth6">Lorem Ipsum is simply dummy 
              text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</h6>
              <a class="readMore" href=""><img src="../../assets/Read more(Next) - Disable.png" alt=""></a>
      </div>
  </div>
  <div class="w3-col m3 itPadd">
      <h3 class="workforceSolutions" style="color: #17689F; font-weight: bold; opacity: 100%;">Workforce Solutions</h3>
      <p style="color: #333333; opacity: 100%;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
  </div>
  <div class="w3-col m1">
      <h1></h1>
  </div>
</div><br><br>

<div class="w3-row">
  <div class="w3-col m6 s12">
     <img class="analytics" src="../../assets/Analytics.png" alt="">
  </div>
  <div class="w3-col m6 s12">
      <h2 class="analytics" style="color:#17689F ;font-weight: bold; opacity: 100%;">Analytics</h2>
      <p class="lorem" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
        </div>

</div>


<div class="bigdata">
  <div class="w3-row bigdataRow" >
     <div class="w3-col m6">
         <h1></h1>
     </div>
     <div class="w3-col m6 bigdata2">
         <h2 class="bigData" style="font-weight: bold;">Big Data / Cloud</h2>
         <p class="bigP">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
         <a href=""><img class="readMore" src="../../assets/Read more(Next) - Disable.png" alt=""></a>
         <br><br>
     </div><br><br><br>
 </div>
 <app-footer></app-footer>
</div>

<div class="imgdown">
  <img class="design1" src="../../assets/Design 1.png" alt="">
</div>
<div class="imgdown2">
  <img class="design3" src="../assets/Design 3.png" alt="">
</div>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">